//fonts
$fontH1:"Lobster",cursive;
$fontAvenir:Avenir, sans-serif;

$corAzul:blue;
$corAmarelo:yellow;
$corVerde:green;
$corTextoPrincipal:silver;
$corTextoSegundario:#f9f9f9;
$cordefundoBotao:#6421ff;
$corBody:#000000;
